build/
dist/
__pycache__/
ntv_pandas.egg-info/
Project1/
*.so
*.il
*.ob
*.obs
*.py[cod]
*.stats
*.sln
*.filters
*.user
*.bak
.vs/
.ipynb_checkpoints/
.spyproject/
*checkpoints.ipynb
*~
.pylint.d/
.cache
.vscode
.gitignore
ntv_pandas.egg-info/dependency_links.txt
ntv_pandas.egg-info/PKG-INFO
ntv_pandas.egg-info/requires.txt
ntv_pandas.egg-info/SOURCES.txt
ntv_pandas.egg-info/top_level.txt
